# Copy this file to .env and fill in your keys
# yfinance doesn't need a key — this is for future Alpha Vantage use
ALPHA_VANTAGE_API_KEY=mongodb+srv://vasundharashivankar179:DyRcGbNUJtRWjVPk@cluster0.dvkg9pv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0